// ## Colors

// ### Primary

$LightRed : hsl(356, 100%, 66%);  /* (CTA text) */
$VeryLightRed : hsl(355, 100%, 74%); /* (CTA hover background) */
$VeryDarkBlue : hsl(208, 49%, 24%); /* (headings) */

// ### Neutral

$White : hsl(0, 0%, 100%); /* (text) */
$GrayishBlue: hsl(240, 2%, 79%); /*  (footer text) */
$VeryDarkGrayishBlue : hsl(207, 13%, 34%); /* (body copy) */
$VeryDarkBlackBlue : hsl(240, 10%, 16%); /* (footer background) */

// ### Gradient

// Background gradient - Intro/CTA mobile nav:

$VeryLightRed: hsl(13, 100%, 72%);
$LightRed: hsl(353, 100%, 62%);

// Background gradient - body:

$VeryDarkGrayBlue: hsl(237, 17%, 21%);
$VeryDarkDesaturatedBlue: hsl(237, 23%, 32%);

// ## Typography
/* Hover */
$GrayishBlueHover :  hsla(240, 3%, 79%, 0.4);
// ### Body Copy

// - Font size: 16px

// ### Fonts

/* - Family: [Overpass](https://fonts.google.com/specimen/Overpass?preview.text_type=custom)
- Weights: 300, 600

- Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
- Weights: 400, 500, 700 */
$fontArial: 'arial';
$fontOverpass: 'overpass';
$fontUbuntu: 'ubuntu';