@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');


// ## Colors


// Primary

$Pink: hsl(322, 100%, 66%);
$LightPink: hsl(321, 100%, 78%);
$LightRed: hsl(0, 100%, 63%);


// Neutral
$VeryDarkCyan: hsl(192, 100%, 9%);
$VeryPaleBlue: hsl(207, 100%, 98%);

/* Letra body */
$letter:#777;


/* Shadow */
$shadow:#bbb;

// Fuente

$headings:  'Poppins', sans-serif;
$font-body: 'Opens Sans', sans-serif;