@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
// ## Colors

// ### Primary

$Orange: hsl(25, 97%, 53%);

// ### Neutral

$White: hsl(0, 0%, 100%);
$LightGrey: hsl(217, 12%, 63%);
$MediumGrey: hsl(210, 27%, 26%);
$DarkBlue: hsl(214, 26%, 16%);
$VeryDarkBlue: hsl(216, 12%, 8%);


$circleColor: hsla(210, 14%, 20%, 0.692);
$DarkBlueGradient: hsl(212, 26%, 11%);

// ###Fuente

$font: 'Overpass', sans-serif;